/* apps/web/app/globals.css */

@import "./styles/tokens-primitives.css";
@import "./styles/tokens-semantic.css";
@import "./styles/typography-tokens.css";
@import "./styles/motion-tokens.css";
@import "./styles/breakpoint-tokens.css";
@import "./styles/reset.css";
@import "./styles/base.css";
@import "./styles/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
